<h2 class="text-2xl py-5">{{titulo}}</h2>

<form (submit)="guardarCambios()" [formGroup]="form">
    <label>Nombre</label>
    <div>
        <input [formControl]="form.controls.nombre" class="p-2 border-gray-400 border rounded-md">
    </div>
    <div class="mt-10">
        <button type="submit" class="bg-green-600 p-2 rounded-full text-white font-semibold">{{accion}}</button>
        <a routerLink="/productos" class="bg-slate-600 p-2 rounded-full text-white font-semibold">Cancelar</a>
    </div>
</form>